.result-section{
    background-color: #fff;
    width: 60%;
    border-radius: 10px;
    margin-left: 48px;
    margin-bottom: 48px;
    padding: 16px;
    overflow-x: scroll;
    overflow-y: visible;
}
pre {
    // outline: 1px solid #ccc;
    padding: 5px;
    margin: 15px;
  }
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }

